.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/Debug/outDebug.exe
build/Debug/bere.o
bere.exe
bere
tempCodeRunnerFile.c
.vscode/tasks.json
LEIA_ME.txt
Produtos.csv
data/Produtos.csv
data/Produtos.csv
data/Produtos.csv
